body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1614px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:11px;
  width:1px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:594px;
  height:42px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:22px;
  width:593px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  white-space:nowrap;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:165px;
  width:100px;
  height:60px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:269px;
  width:100px;
  height:60px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:793px;
  width:100px;
  height:60px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1381px;
  width:100px;
  height:60px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:225px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:329px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u66_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u66_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:853px;
  width:0px;
  height:0px;
}
#u67_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:532px;
}
#u67_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u67_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:515px;
  width:18px;
  height:19px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:256px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:100px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:336px;
  width:100px;
  height:60px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:419px;
  width:100px;
  height:60px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:507px;
  width:100px;
  height:60px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:602px;
  width:100px;
  height:60px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:693px;
  width:100px;
  height:60px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:850px;
  width:100px;
  height:60px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:931px;
  width:100px;
  height:60px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1008px;
  width:100px;
  height:60px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1078px;
  width:100px;
  height:60px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:537px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-208px;
  width:8px;
  height:212px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-63px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:366px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-37px;
  width:8px;
  height:41px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:449px;
  width:0px;
  height:0px;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-120px;
  width:8px;
  height:124px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:632px;
  width:0px;
  height:0px;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-304px;
  width:8px;
  height:308px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:723px;
  width:0px;
  height:0px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-394px;
  width:8px;
  height:398px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-156px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:880px;
  width:0px;
  height:0px;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-27px;
  width:8px;
  height:31px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:961px;
  width:0px;
  height:0px;
}
#u84_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u84_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-111px;
  width:8px;
  height:115px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1038px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u85_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-185px;
  width:8px;
  height:189px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1108px;
  width:0px;
  height:0px;
}
#u86_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u86_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-255px;
  width:8px;
  height:259px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1148px;
  width:100px;
  height:60px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1178px;
  width:0px;
  height:0px;
}
#u88_seg0 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-4px;
  width:102px;
  height:8px;
}
#u88_seg1 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-325px;
  width:8px;
  height:329px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1285px;
  width:100px;
  height:60px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1383px;
  width:100px;
  height:60px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1485px;
  width:100px;
  height:60px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:336px;
  width:99px;
  height:31px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:370px;
  width:99px;
  height:31px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:498px;
  width:99px;
  height:31px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:596px;
  width:99px;
  height:31px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:633px;
  width:99px;
  height:31px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:537px;
  width:99px;
  height:31px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:690px;
  width:99px;
  height:31px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:727px;
  width:99px;
  height:31px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:352px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:8px;
  height:22px;
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:10px;
  width:14px;
  height:8px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:386px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-24px;
  width:8px;
  height:28px;
}
#u101_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-24px;
  width:14px;
  height:8px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:514px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:8px;
  height:31px;
}
#u102_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:19px;
  width:14px;
  height:8px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:553px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-20px;
  width:8px;
  height:24px;
}
#u103_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-20px;
  width:14px;
  height:8px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:612px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:8px;
  height:28px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:16px;
  width:14px;
  height:8px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:649px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u105_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-21px;
  width:8px;
  height:25px;
}
#u105_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-21px;
  width:14px;
  height:8px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:706px;
  width:0px;
  height:0px;
}
#u106_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u106_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:8px;
  height:25px;
}
#u106_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:13px;
  width:14px;
  height:8px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:743px;
  width:0px;
  height:0px;
}
#u107_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u107_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-24px;
  width:8px;
  height:28px;
}
#u107_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-24px;
  width:14px;
  height:8px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1315px;
  width:0px;
  height:0px;
}
#u108_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u108_seg1 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:8px;
  height:104px;
}
#u108_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:92px;
  width:22px;
  height:8px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1515px;
  width:0px;
  height:0px;
}
#u109_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u109_seg1 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-108px;
  width:8px;
  height:112px;
}
#u109_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-108px;
  width:22px;
  height:8px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1413px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-6px;
  width:8px;
  height:10px;
}
#u110_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-6px;
  width:22px;
  height:8px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:417px;
  width:99px;
  height:31px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:455px;
  width:99px;
  height:31px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:433px;
  width:0px;
  height:0px;
}
#u113_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u113_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:8px;
  height:24px;
}
#u113_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:12px;
  width:14px;
  height:8px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:471px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u114_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-26px;
  width:8px;
  height:30px;
}
#u114_seg2 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:-26px;
  width:14px;
  height:8px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:60px;
  width:110px;
  height:70px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:273px;
  width:110px;
  height:70px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:134px;
  width:110px;
  height:70px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:499px;
  width:110px;
  height:70px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:891px;
  width:110px;
  height:70px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:169px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u120_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:8px;
  height:147px;
}
#u120_seg2 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:135px;
  width:22px;
  height:8px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:534px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u121_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-230px;
  width:8px;
  height:234px;
}
#u121_seg2 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-230px;
  width:22px;
  height:8px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-73px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:926px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:-4px;
  width:127px;
  height:8px;
}
#u122_seg1 {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:-622px;
  width:8px;
  height:626px;
}
#u122_seg2 {
  border-width:0px;
  position:absolute;
  left:-141px;
  top:-622px;
  width:22px;
  height:8px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:-173px;
  top:-264px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:22px;
  width:100px;
  height:60px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:221px;
  width:100px;
  height:60px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:79px;
  width:100px;
  height:60px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:159px;
  width:100px;
  height:60px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:238px;
  width:100px;
  height:60px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:317px;
  width:100px;
  height:60px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:109px;
  width:0px;
  height:0px;
}
#u129_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u129_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:8px;
  height:150px;
}
#u129_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:138px;
  width:19px;
  height:8px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:347px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u130_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-100px;
  width:8px;
  height:104px;
}
#u130_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-100px;
  width:19px;
  height:8px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:52px;
  width:0px;
  height:0px;
}
#u131_seg0 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-4px;
  width:149px;
  height:8px;
}
#u131_seg1 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-4px;
  width:8px;
  height:125px;
}
#u131_seg2 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:113px;
  width:20px;
  height:8px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:-189px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:251px;
  width:0px;
  height:0px;
}
#u132_seg0 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-4px;
  width:149px;
  height:8px;
}
#u132_seg1 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-86px;
  width:8px;
  height:90px;
}
#u132_seg2 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:-86px;
  width:20px;
  height:8px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:-172px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:417px;
  width:100px;
  height:60px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:573px;
  width:100px;
  height:60px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:463px;
  width:100px;
  height:60px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:543px;
  width:100px;
  height:60px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:622px;
  width:100px;
  height:60px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:702px;
  width:100px;
  height:60px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:493px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:8px;
  height:118px;
}
#u139_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:106px;
  width:19px;
  height:8px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:732px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u140_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-133px;
  width:8px;
  height:137px;
}
#u140_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-133px;
  width:19px;
  height:8px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:447px;
  width:0px;
  height:0px;
}
#u141_seg0 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-4px;
  width:149px;
  height:8px;
}
#u141_seg1 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-4px;
  width:8px;
  height:95px;
}
#u141_seg2 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:83px;
  width:20px;
  height:8px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:603px;
  width:0px;
  height:0px;
}
#u142_seg0 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-4px;
  width:149px;
  height:8px;
}
#u142_seg1 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-73px;
  width:8px;
  height:77px;
}
#u142_seg2 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:-73px;
  width:20px;
  height:8px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:827px;
  width:100px;
  height:60px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:983px;
  width:100px;
  height:60px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:873px;
  width:100px;
  height:60px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:953px;
  width:100px;
  height:60px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:1032px;
  width:100px;
  height:60px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:1112px;
  width:100px;
  height:60px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:903px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u149_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:8px;
  height:118px;
}
#u149_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:106px;
  width:19px;
  height:8px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:857px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u150_seg0 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:-4px;
  width:139px;
  height:8px;
}
#u150_seg1 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:-4px;
  width:8px;
  height:77px;
}
#u150_seg2 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:65px;
  width:21px;
  height:8px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:1013px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:-4px;
  width:139px;
  height:8px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:-91px;
  width:8px;
  height:95px;
}
#u151_seg2 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:-91px;
  width:21px;
  height:8px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:1202px;
  width:100px;
  height:60px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:1232px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-223px;
  width:8px;
  height:227px;
}
#u153_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-223px;
  width:19px;
  height:8px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
